# Introduction to Python

In [ ]:
print('Hello, world!')

Hello, world!

## Just for fun!

Did you know that entering `import this` prints the 'Zen of Python'?

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.

It is always good to follow the zen even when you have an opportunity to show off your Python skills! :)

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## The `help()` function

The `help()` function in python is used to display the documentation of modules, functions, classes, etc.

In [ ]:
# help([object])

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**NOTE:** If the `help()` function is passed without an argument,then the interactive help utility starts up on the console.

## Accessing the Attributes (/Methods) of any object

In order to understand the pre-loaded attributes of an object, we use the `dir()` function.

In [ ]:
# import [library]
# dir([library])

import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

## Understanding data types in Python

Python has the following data types built-in by default:

Text: `str`

Numeric: `int`, `float`, `complex`

Sequence: `list`, `tuple`, `range`

Mapping: `dict`

Set: `set`, `frozenset`

Boolean: `bool`

Binary: `bytes`, `bytearray`, `memoryview`

In [ ]:
# type(variable) prints the data type of the variable. In this case, string

name = 'Stephen ' + 'Colbert'
print(name)

print(type(name))
type(name)

Stephen Colbert
<class 'str'>

str

**NOTE:** The initialization of datat type to a particular variable happens automaticaly when we assign a value to a variable.

In [ ]:
# class integer

x = 10
print(x)

print(type(x))

10
<class 'int'>

In [ ]:
# class float

decimal = 0.63000
print(decimal)

print(type(decimal))

0.63
<class 'float'>

In [ ]:
# class list

groceries = ['apples', '20', 'cake mix', 'tp']
print(groceries)

print(type(groceries))

['apples', '20', 'cake mix', 'tp']
<class 'list'>

In [ ]:
# class list, but tuples

a = [(1, 2), (3, 4, 5), (6, 7)]
print(a)

print(type(a))

[(1, 2), (3, 4, 5), (6, 7)]
<class 'list'>

In [ ]:
x = ('Apple', 'Tim', 'Burns')

print(type(x))

<class 'tuple'>

In [ ]:
# class set

sets = set((10, 2, 3, 6876))

print(sets)
print(type(sets))

{3, 10, 2, 6876}
<class 'set'>

In [ ]:
# class dictionary

hpc = {'Harry':'10', None:'Weasley', 'Snape':5}

print(hpc)
print(type(hpc))

{'Harry': '10', None: 'Weasley', 'Snape': 5}
<class 'dict'>

In [ ]:
# class boolean

boolean = True
print(type(boolean))

print(bool(-2.32))

<class 'bool'>
True

In [ ]:
#None type

z = None
print(type(z))

<class 'NoneType'>

## Commonly used operators in Python

In [ ]:
a = 6.9
b = 4.2

print('Add: ', a+b)
print('Subtract: ', a-b)
print('Divide: ', a/b)
print('Multiply: ', a*b)
print('Floor Division: ', a//b)
print('Mod: ', a%b)       
print('Power: ', a**b)

Add:  11.100000000000001
Subtract:  2.7
Divide:  1.6428571428571428
Multiply:  28.980000000000004
Floor Division:  1.0
Mod:  2.7
Power:  3335.540214978119

### A few tricks

In [ ]:
a = 10
b = 'Apple'

print('Before swap: ', a, b)

a, b = b, a
print('After swap: ', a, b)

Before swap:  10 Apple
After swap:  Apple 10

In [ ]:
a, *b = 34, 23, 10

print(type(a))
print(type(b))

<class 'int'>
<class 'list'>

## Type casting in Python

Type Casting is the method to convert the variable data type into a certain data type in order for the operation required to be performed by users.

In [ ]:
# switching from string to integer

x = '10'
print(type(x))

print('String to Integer: ', int(x))

x = int(x)
print(type(x))

<class 'str'>
String to Integer:  10
<class 'int'>

In [ ]:
# switching from string to float

print(float(x))

print(type(x))

10.0
<class 'int'>

In [ ]:
# switching from integer to string

x = str(1) + '0'

print(x)

10

In [ ]:
# switching from set to list

s = set((1, 2, 3, 5, 8))

list_s = list(s)
print(list_s)

[1, 2, 3, 5, 8]

In [ ]:
# switching from a tuple to list

tuples = ((1, 2), (4, 'Ginny'), (7, 'Fred'))

list_tup = list(tuples)
print(list_tup)

print(type(list_tup))

[(1, 2), (4, 'Ginny'), (7, 'Fred')]
<class 'list'>

In [ ]:
s = set((1,2,3,4))

In [ ]:
# ascii value of alpha numeric characters

print(chr(120))

x

In [ ]:
# string to ascii

print(ord('x'))

120

## Using in-built functions

### Using the `random` method

This method is used to geenrate 'random' values or ranges depending on the requirement.

In [ ]:
import random

# adding the start and end paramaters

print(random.randint(5, 10))

10

### Using the `math` method

You can use this method(/library) to make mathematical operations much easier.

In [ ]:
import math
print('Inbuilt value of pi: ', math.pi)
print('Square root: ', math.sqrt(2209))

print('Floor value: ', math.ceil(3.1415))

Inbuilt value of pi:  3.141592653589793
Square root:  47.0
Floor value:  4

### Using the `datetime` method

Yeah, nothing fancy about it. Just does what the name mentions.

In [ ]:
import datetime

date = datetime.datetime.now()

print(date)
print(type(date))

2021-09-23 17:10:47.660093
<class 'datetime.datetime'>

## Lists!

In [ ]:
# initializing a list
list_1 = list()
print(list_1)

# the data type of the variable
print(type(list_1))

# a numeric list
list_num = [1, 2, 3, 4]
print(list_num)

# list with objects
list_object = ['1', '6', 81, '%', 'Williamsburg']
print(list_object)

# The operations are automatically computed when mentioned inside the list
list_ops = [1*3, 'apple'+'cheap', 10//2]
print(list_ops)

[]
<class 'list'>
[1, 2, 3, 4]
['1', '6', 81, '%', 'Williamsburg']
[3, 'applecheap', 5]

### Accessing the values from a list

**Fun fact:** Python does allow negative indexing!

In [ ]:
list_object = ['1', '6', 81, '%', 'Williamsburg']

list_object[4]

'Williamsburg'

In [ ]:
# executing all the values from the beginning to the end

print(list_object[2:4])

[81, '%']

In [ ]:
print(list_object[:3])

['1', '6', 81]

In [ ]:
# let's say that we want we to skip a few values in between

print(list_object[0:4:2])

['1', 81]

In [ ]:
# negative ranges

print(list_object[-4:])

['6', 81, '%', 'Williamsburg']

### Modifying lists

In [ ]:
# make changes in the list

list_object.extend([0,1.2])
print(list_object)


# make range of values changes

subset_items = [1,52,798,8]
list_object[0:4] = subset_items
print(list_object)

['1', '6', 81, '%', 'Williamsburg', 0, 1.2]
[1, 52, 798, 8, 'Williamsburg', 0, 1.2]

In [ ]:
# skipping changes

subset = ['2','45555','12']
list_object[0:5:2] = subset
print(list_object)

['2', 52, '45555', 8, '12', 0, 1.2]

In [ ]:
# delete an element

list_object = [1, 2, 12, 12, 12, 3, 4, 5, 7]

# can be used as a stack and/or a queue

print(list_object)
list_object.pop()
print(list_object)
list_object.pop(2)
print(list_object)

[1, 2, 12, 12, 12, 3, 4, 5, 7]
[1, 2, 12, 12, 12, 3, 4, 5]
[1, 2, 12, 12, 3, 4, 5]

What do we do if there is an error while removing a value from the list and the list is empty?

In [ ]:
# we use the try except functionality

try:
  list_object.remove(10)

except:
  print('Element not in list')

Element not in list

## The `for` loop

In [ ]:
for i in range(0,5):
  print(i, end=' ')

0 1 2 3 4

In [ ]:
print('Adding the step parameter ')

for i in range(10,2,-2):
  print(i, end=' ')

Adding the step parameter
10 8 6 4

In [ ]:
print('Printing the values in the format of a list ')

a = [1,2,3,4,5]
for i in a:
  print(i)

Printing the values in the format of a list
1
2
3
4
5

In [ ]:
print('One-line for loop')

sum_upto_10 = [i for i in range(11)]
print(sum_upto_10)

One-line for loop
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print('One-linear nested for loop Matrix Multiplication')

matrix_mul = [j*i for i in range(5) for j in range(5,10)]
print('Matrix Looks like: ', matrix_mul)

One-linear nested for loop Matrix Multiplication
Matrix Looks like:  [0, 0, 0, 0, 0, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 15, 18, 21, 24, 27, 20, 24, 28, 32, 36]

In [ ]:
a = ['Hello', 'world', '!']

# iterable method 1
print('Iterable Method 1: ')
for i in range(len(a)):
  print(i, a[i])

# iterable method 2
print('\nIterable Method 2: ')
for i in a:
  print(i)

# (iterable?) method 3
print('\nMethod 3: ')
print(list(enumerate(a)))

Iterable Method 1:
0 Hello
1 world
2 !

Iterable Method 2:
Hello
world
!

Method 3:
[(0, 'Hello'), (1, 'world'), (2, '!')]

## Functions

To define a function, use the `def` keyword followed by the name of the function with attributes.

In [ ]:
def fizzBuzz():
  
  '''
  Given a range print Fizz if divisible by 3, Buzz if divisible by 5 else FizzBuzz if divisible by 3 and 5
  '''

  n = int(input('Enter a number: '))
  count = 1
  while (count <= n):
    string = ''
    if (count %3 == 0):
      string = 'Fizz'
    if (count % 5 == 0):
      string += 'Buzz'
    print(count,string)
    count +=1
    
fizzBuzz()

Enter a number: 15
1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz

In [ ]:
def fizzBuzz():
  
  '''
  Same function as above with more if else conditions.
  '''
  
  n = int(input('Enter a number: '))
  count = 1
  while(count <= n):
    if (count % 5 == 0 and count % 3 == 0):
      print(count,'Fizz Buzz')
    elif (count % 3 == 0):
      print(count,'Fizz')
    elif (count % 5 == 0):
      print(count,'Buzz')
    else:
      print(count)
    count +=1

fizzBuzz()

Enter a number: 15
1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 Fizz Buzz

## Dictionaries

In the case of dictionaries, we use `key` and not indexes to refer elements in the dictionary.

In [ ]:
# creating an empty dictionary
dict_ = {}

#dict_ = {key:value,key:value} 
# keys have to be in a set i.e., they are to be unique

string = 'iamdictionaryiteratemeandseethefun'

for ch in string:
  if (ch in dict_):
    dict_[ch] +=1

  else:
    dict_[ch] = 1

for k,v in dict_.items():
  # pass
  print(f'Character {k} and its count {v}')

Character i and its count 4
Character a and its count 4
Character m and its count 2
Character d and its count 2
Character c and its count 1
Character t and its count 4
Character o and its count 1
Character n and its count 3
Character r and its count 2
Character y and its count 1
Character e and its count 6
Character s and its count 1
Character h and its count 1
Character f and its count 1
Character u and its count 1

**NOTE:** If we try updating for a key that is present the original value will be overwritten

In [ ]:
# print value for some key

# Hint: use .get or check for existence before access to avoid error like below

print(dict_['z'])

KeyError: ignored

In [ ]:
print(dict_.get('z'))

None

## Sorting

For sorting a list, the data type of all the elements should be the same.

In [ ]:
list_ = ['a','3232','21332','bsaa','87','3231']
print(list_)

print('\nAscending order: ')

# the sorting is done only for the first character
result = []
for i in list_:
  sum_ = 0
  for j in i:
    sum_ = ord(j)
    break
  result.append(sum_)

# it checks the first character of the string
# if there is a match, it proceeds further
print('Before sorting')
print(list_)
print(result)

print('---------------')
print('After sorting')
list_.sort()
result.sort()
print(list_)
print(result)

['a', '3232', '21332', 'bsaa', '87', '3231']

Ascending order:
Before sorting
['a', '3232', '21332', 'bsaa', '87', '3231']
[97, 51, 50, 98, 56, 51]
---------------
After sorting
['21332', '3231', '3232', '87', 'a', 'bsaa']
[50, 51, 51, 56, 97, 98]

### Difference between `sort()` and `sorted()`

`sort()` function will modify the list it is called on. The function modifies/sorts the list in-place and has no return value.

On the other hand, `sorted()` function will create a new list containing a sorted version of the list it is given.

In [ ]:
a = [1,3,2]
print('a: ', a)
b = sorted(a)
print('a after sorted(): ',a)
print('\nb: ', b)
a.sort()
print('a after sort(): ', a)

a:  [1, 3, 2]
a after sorted():  [1, 3, 2]

b:  [1, 2, 3]
a after sort():  [1, 2, 3]

## `lambda` functions in Python

In [ ]:
add = lambda a, b, c: a+b+c
print(add(5, 6, 2))

13

In [ ]:
dictonary = {67:"Ted", 23:"Marshall", 12:"Barney", 45:"Robin", 11:"Lily", 73:"Victoria", 99:"Tracy"}

# sort the tuple on values
tuples  = sorted(dictonary.items(), key = lambda x:(x[1],x[0]), reverse=False)
print('\nSorted on values')
for elements in tuples:
    print(elements[0],"::",elements[1])

Sorted on values
12 :: Barney
11 :: Lily
23 :: Marshall
45 :: Robin
67 :: Ted
99 :: Tracy
73 :: Victoria